<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>TextUtils</title>
</head>
<body>
<h1>Welcome to Text Analyzer. Enter Your Text Below :- </h1>
<form action="/analyze" method="get">
    <textarea name="text" style="margin: 0px; width: 1296px; height: 181px;">    </textarea>
    <br>
    <input type="checkbox"  name="removepunc"> Remove Punctuations <br>
    <input type="checkbox"  name="fullcaps"> Capitalize Text <br>
    <input type="checkbox"  name="newlineremove"> Newline Remover <br>
    <input type="checkbox"  name="spaceremove"> Extra Space Remover <br>


    <button type="submit">Analyze Text</button>
</form>
</body>
</html>